apache-beam==2.14.0
apt-clone==0.2.1
apturl==0.5.2
attrs==19.1.0
avro-python3==1.9.0
awscli==1.16.214
backcall==0.1.0
beautifulsoup4==4.6.0
bleach==3.1.0
bokeh==0.12.5
botocore==1.12.204
Brlapi==0.6.6
cachetools==3.1.1
certifi==2018.1.18
chardet==3.0.4
Click==7.0
colorama==0.3.9
command-not-found==0.3
configobj==5.0.6
confluent-kafka==1.1.0
crcmod==1.7
cupshelpers==1.0
cycler==0.10.0
decorator==4.4.0
defer==1.0.6
defusedxml==0.6.0
dill==0.2.9
dnspython==1.16.0
docopt==0.6.2
docutils==0.14
dominate==2.6.0
entrypoints==0.3
fastavro==0.21.24
Flask==1.1.1
Flask-Bootstrap==3.3.7.1
Flask-WTF==0.14.3
future==0.17.1
glyph==2.6.5b0
google-api-core==1.14.2
google-auth==1.6.3
google-auth-oauthlib==0.4.0
google-cloud-bigquery==1.20.0
google-cloud-bigquery-storage==0.7.0
google-cloud-core==1.0.3
google-resumable-media==0.4.1
googleapis-common-protos==1.6.0
grpcio==1.23.0
hdfs==2.5.8
hdfs3==0.3.1
httplib2==0.9.2
idna==2.6
imageio==2.9.0
imutils==0.5.3
ipykernel==5.1.2
ipython==7.7.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
kafka==1.3.5
kafka-python==1.4.6
kiwisolver==1.1.0
louis==3.5.0
macaroonbakery==1.1.3
Mako==1.0.7
MarkupSafe==1.0
matplotlib==3.1.1
mistune==0.8.4
mock==2.0.0
nbconvert==5.6.0
nbformat==4.4.0
nemo-emblems==4.0.2
netifaces==0.10.4
networkx==2.5
notebook==6.0.0
numpy==1.17.0
oauth2client==3.0.0
oauthlib==3.1.0
onboard==1.4.1
opencv-python==3.4.11.39
packaging==19.2
PAM==0.4.2
pandas==0.25.0
pandas-gbq==0.11.0
pandocfilters==1.4.2
parso==0.5.1
PassportEye==2.0.0
pbr==5.4.2
pdfminer==20191125
pexpect==4.2.1
pickleshare==0.7.5
Pillow==5.1.0
pluginbase==0.5
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.9.1
psutil==5.4.2
ptyprocess==0.6.0
py4j==0.10.7
pyarrow==0.14.1
pyasn1==0.4.6
pyasn1-modules==0.2.6
pycairo==1.16.2
pycrypto==2.6.1
pycryptodome==3.9.9
pycups==1.9.73
pycurl==7.43.0.1
pydata-google-auth==0.1.3
pydot==1.4.1
Pygments==2.4.2
pygobject==3.26.1
PyICU==1.9.8
pyinotify==0.9.6
pymacaroons==0.13.0
pymongo==3.9.0
PyNaCl==1.1.2
pyparsing==2.4.2
pyRFC3339==1.0
pyrsistent==0.15.4
PySocks==1.7.0
pyspark==2.4.3
pytesseract==0.3.6
python-apt==1.6.5+ubuntu0.3
python-dateutil==2.8.0
python-debian==0.1.32
python-xapp==1.4.0
python-xlib==0.20
pytz==2018.3
PyWavelets==1.1.1
pyxdg==0.25
PyYAML==3.13
pyzmq==18.1.0
qtconsole==4.5.3
reportlab==3.4.0
requests==2.18.4
requests-oauthlib==1.2.0
requests-unixsocket==0.1.5
roman==2.0.0
rsa==3.4.2
s3transfer==0.2.1
scikit-image==0.17.2
scikit-learn==0.21.3
scipy==1.3.1
screen-resolution-extra==0.0.0
Send2Trash==1.5.0
sessioninstaller==0.0.0
setproctitle==1.1.10
six==1.12.0
system-service==0.3
systemd-python==234
terminado==0.8.2
tesseract==0.1.3
testpath==0.4.2
tifffile==2020.9.3
tornado==6.0.3
traitlets==4.3.2
tweepy==3.8.0
ubuntu-drivers-common==0.0.0
ufw==0.36
urllib3==1.25.3
vboxapi==1.0
virtualenv==16.7.3
visitor==0.1.3
wafw00f==0.9.4
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
WTForms==2.3.3
xkit==0.0.0
xlrd==1.2.0
