

{% extends 'base.html' %}
{% block title %}File Upload{% endblock %}


  {% block content %}
    <h3>Upload your file</h3>
    <form method="POST" action="" enctype="multipart/form-data">
      <select name="type" id="image-type">
        <option value="Credit_card">Credit Card</option>
        <option value="Document">Document</option>
      </select>
      <p><input type="file" name="file" accept="image/*"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
  {% endblock %}





